.header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
}

.header-wrapper {
    padding: 30px 0 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-link{
    display: flex;
    align-items: center;
    gap: 28px;
    justify-content: center;
    margin-right: 40px;
}

.header-link li a {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 13px;
    line-height: 14px;
    color: #444444;
}

.header-btns {
    display: flex;
    gap: 30px;
}

.header-btns >button{
    font-family: 'Poppins';
    padding: 0 18px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: max-content;
    margin: 0 auto;
    background: #575445 /* !important */;
    border-radius: 6px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    border: none;
    transition: 350ms;
    border: 1px solid transparent;
}


.header-btns >button:hover{
    color: #575445;
    background: #FFFFFF; 
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: max-content;
    margin: 0 auto;
    border-radius: 8px;
    border: 1px solid #575445;
}
.header-btns >button:hover .icon-cart-1::before {
    color: #575445;
}
.header-btns >button:hover .span-numb{
    background: #575445;
    color: #fff;
}
.header-cart{
    display: flex;
    gap: 8px;
}


.span-numb {
    text-align: center;
    padding-top: 2px;
    background: #FFFFFF;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: #575445;
    display: flex;
    justify-content: center;
    align-items: center;
}