.store-wrapper {
    margin-top: 99px;
    display: flex;
    flex-direction: column;
}

.store-wrapper h6 {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #E6B939;
}

.store-wrapper h2 {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #575445;
}

.store-wrapper p {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #575445;
    margin-top: 7px;
    margin-bottom: 21px;
}


.store-card {
    height: 473px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
}

.store-card::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
.store-card:hover img {
    transform: scale(1.2);
}
.store-card-img {
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    
}

.store-card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 400ms;
}



.store-card h3 {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    color: #575445;
}

.store-card p {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #575445;
}

.card-view {
    width: 158px;
    max-width: 100%;
    margin: 0 auto;
}

.card-view a {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: #575445;
    margin-top: 19px;
    display: flex;
    align-items: center;
    width: 100%;
}

.card-view a span {
    transition: 350ms;
}

.card-view a:hover span{
    margin-right: 8px;
}

.store-show{
    text-align: center;
    width: 180px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 20px;   
}
.store-show a{
    font-family: 'Poppins';
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: #575445;
    display: flex;
    align-items: center;
    width: 100%;
}

.store-show a span{
    transition: 350ms;
}

.store-show a:hover span{
    margin-right: 12px;
}